.MenuSup{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e4dfdf;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 0px;
  height: 100px;  
}

#MenuSupItem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;   
}

#sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
  background-color: #d6cbcb;
  padding-top: 20px;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  
}

#sidebar.open {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  text-align: left;
  align-items: center;
  
  }
  
img {
  width: 100%;
  height: 170%;
  object-fit: cover;
  margin-top: -20px;
  
}
.list-unstyled {
padding-left: 0;
list-style: none;
}

.list-unstyled.components {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 10px;
  margin-left: 20px;
}

.list-unstyled a {
color: black;
text-decoration: none;
font-size: 20px;
display: block;
align-items: center;
margin-left: 55px;
margin-top: 20px;
}

.list-unstyled a:hover {
background-color: #495057;
}


.sidebar-fixed {
   
    position: fixed;
    top: 0;
    left: 0;
  }

.logout-icon {
  margin-right: 5px; 
  width: 30px; 
  height: 30px;
  margin-top: 5px;
}

.item-menu-sup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hamburger-menu {
  position: absolute;
  top: 0px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;

  div {
    width: 2rem;
    height: 0.25rem;
    background: #333;
    border-radius: 10px;
    transition: all 0.3s linear;
    position:relative;
    transform-origin: 1px;
    
  }
}
  
  
@media (max-width: 600px) {
  .MenuSup {
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    align-items: flex-end;
    position: relative;
  }

  .item-menu-sup {
    flex-direction: row;
    justify-content: flex-end;
  }

  .item-menu-sup h5 {
    margin-right: 10px; 
  }

  .list-unstyled.components {
    align-items: flex-start;
  }
  #sidebar {
    transform: translateX(-100%);
  }

  .hamburger-menu {
    position: static;
    display: flex;
    margin-left: 10px;
    top: 0px;
    

    div {
      transform-origin: 1px;
      
    }
    
  }

  .logout-icon {
    width: 20px; /* Diminua o tamanho como preferir */
    height: 20px;
    margin-top: -5px;
  }
  
  
}

@media (min-width: 601px) {
  #sidebar {
    transform: translateX(0);
  }

  .hamburger-menu {
    display: none;
  }
}

.backdrop {
  display: none;
}

.backdrop.open {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
}

  